@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-background: #F2F9FF;
  --color-theme: #FFD39D;
  --color-product: #FF5E5E;
  --color-hotel: #FFCCE1;
  --color-sitter: #F8F7BA;
  --color-insurance: #BDE3C3;
  --color-pharmacy: #A3CCDA;
}
/* Apply background + font */
body {
  background-color: var(--color-background);
}